@media screen and (min-width:800px) and (max-width: 850px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 33vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:750px) and (max-width: 800px) {
    .MessageLearning {
        margin-top: 35rem;
    }
    .MessageLearning h1 {
        font-size: 2rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 62vw;
        }
    }
    .positionLogoCpp img {
        width: 150px;
    }
}

@media screen and (min-width:700px) and (max-width: 750px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 37vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:660px) and (max-width: 700px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 40vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:620px) and (max-width: 660px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 42vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:590px) and (max-width: 620px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 45vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:550px) and (max-width: 590px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 48vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:510px) and (max-width: 550px) {
   .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 52vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}


@media screen and (min-width:480px) and (max-width: 510px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 60vw;
        }
    }
    .positionLogoCpp img {
        width: 130px;
    }
}

@media screen and (min-width:420px) and (max-width: 480px) {
    .MessageLearning {
        margin-top: 18rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 62vw;
        }
    }
    .positionLogoCpp img {
        width: 120px;
    }
}
@media screen and (min-width:410px) and (max-width: 420px) {
    .MessageLearning {
        margin-top: 20rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 69vw;
        }
    }
    .positionLogoCpp img {
        width: 120px;
    }
}
@media screen and (min-width:390px) and (max-width: 410px) {
    .MessageLearning {
        margin-top: 13rem;
    }
    .MessageLearning h1 {
        font-size: 1.1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 69vw;
        }
    }
    .positionLogoCpp img {
        width: 120px;
    }
}

@media screen and (min-width:350px) and (max-width: 390px) {
    .MessageLearning {
        margin-top: 12rem;
    }
    .MessageLearning h1 {
        font-size: 1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 68vw;
        }
    }
    .positionLogoCpp img {
        width: 120px;
    }
}

@media screen and (min-width:320px) and (max-width: 350px) {
    .MessageLearning {
        margin-top: 13rem;
    }
    .MessageLearning h1 {
        font-size: 1rem;
    }
    @keyframes typing {
        from {
        width: 0;
        }
        to {
        width: 73vw;
        }
    }
    .positionLogoCpp img {
        width: 120px;
    }
}