/*ContPrincipal*/
.ContPrincipal {
    background-color: var(--co-gray-opacity-10);
    border: 1px solid var(--co-gray-opacity-10);
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
}
.MessageLearning {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
}
.MessageLearning h1 {
    border-radius: 7px;
    padding: .5rem;
    font-size: 1.8rem;
    color: var(--co-white-gray);
    background-color: var(--co-blue-primary);
    overflow: hidden; 
    border-right: .2em solid var(--co-lue-sky-no-opacity); 
    white-space: nowrap; 
    letter-spacing: .10em; 
    animation: typing 5s steps(50) infinite;
}
.positionLogoCpp {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.positionLogoCpp_co {
    color: var(--co-blue-primary);
    font-size: 1.5rem;
}
.ContLogoMarine {
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.ContLogoMarine img {
    width: 100%;
    height: 10rem;
}
/*animations*/
@keyframes typing {
    from {
    width: 0;
    }
    to {
    width: 30vw;
    }
}
.text-pop-up-bottom {
	-webkit-animation: text-pop-up-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	animation: text-pop-up-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
@-webkit-keyframes text-pop-up-bottom {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
    }
    100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #00A8CC, 0 2px 0 #00A8CC, 0 3px 0 #00A8CC, 0 4px 0 #00A8CC, 0 5px 0 #00A8CC, 0 6px 0 #00A8CC, 0 7px 0 #00A8CC, 0 8px 0 #00A8CC, 0 9px 0 #00A8CC, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-bottom {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
    }
    100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #00A8CC, 0 2px 0 #00A8CC, 0 3px 0 #00A8CC, 0 4px 0 #00A8CC, 0 5px 0 #00A8CC, 0 6px 0 #00A8CC, 0 7px 0 #00A8CC, 0 8px 0 #00A8CC, 0 9px 0 #00A8CC, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
