/*google fonts*/
/* ********************************************** */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital@1&display=swap');
/* ********************************************** */
/*styles of the nav bar*/
.NavBarMenu {
    z-index: 1;
    background-color: var(--co-gray-opacity-10);
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding: .1rem 0;
}
.SizeImgBtn {
    width: 2rem;
    padding: .1rem;
}
.ContNavBar {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    text-align: center;
    align-items: center;
    flex-wrap: nowrap;
}
.Btn button {
    cursor: pointer;
    background-color: var(--co-gray-opacity-10);
    border: none;
    margin-left: 1rem;
}
.ContNavBar a {
    text-decoration: none;
    font-weight: bold;
    color: var(--co-blue-primary);
    font-size: 1.2rem;
}
/*hover*/
.Btn button:hover {
    background-color: var(--co-lue-sky);
    transition: .5s ease-in-out;
}
.ContNavBar a:hover {
    text-decoration: underline;
    color: var(--co-blue-primary-opacity-40);
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--co-blue-primary);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
.loader {
    gap: 3rem;
    background-color: var(--co-lue-sky);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.charging {
    font-size: .8rem;
    color: var(--co-blue-primary);
    display: flex;
    justify-content: center;
    padding-right: -5rem;
} 
.tracking-out-expand {
	-webkit-animation: tracking-out-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: tracking-out-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
@-webkit-keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }
  