/*Reset*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Anonymous Pro', monospace;
}

/*Root var*/
:root {
  --co-blue-primary : #004482;
  --co-gray-opacity-10 :#F0F0F0;
  --co-lue-sky :#659ad279;
  --co-blue-primary-opacity-40 :#00438296 ;
  --co-white-gray :#F1F1F1;
  --co-lue-sky-no-opacity :#00A8CC;
  --co-white :white;
  --co-white-FBFCFC :#FBFCFC;
  --co-blue-white :#659AD2;
  --co-red :#950101;
  --co-gray-light : rgba(128, 128, 128, 0.349);
  --co-black :#0F3460;
  --co-red-primary:#FD5D5D ;
  --co-red-secondary : #950101;
  --co-orange :#FF5733;
  --co-violet-primary:#4C0070;
}